<h1 class="add-items">Add items:</h1>
<h1 class="order">Order details</h1>
<div class="add-items">
  <app-add-items *ngFor="let order of orders; let i = index" [order]="order" (addItem)="onNewOrder(i)"></app-add-items>
</div>

<div class="order">
  <app-order-details *ngFor="let newOrder of newOrders; let i = index" [newOrder]="newOrder" (delete)="onDelete(i)"></app-order-details>
</div>






