
<div class="containerOrder">
  <div class="cardOrder">
    <h5 class="card-title"> {{newOrder.name }}</h5>
    <span class="card-number">Number: {{ newOrder.number }} Price: {{ newOrder.price }}</span>
    <button type="button" class="btn" (click)="onDeleteOrder()">Delete</button>
    <p class="card-total">Total: {{getTotalPrice()}}</p>
  </div>
</div>
